.navbar
    .logo Travel Journey
    button.toggle-btn &#9776;



.sidebar.deActive
    ul
        li
            a(href="/user/dashboard") Dashboard
        li
            a(href="/user/clients") Clients
        li
            a(href="/user/services") Services 
        li
            a(href="/user/offers") Offers
        li
            a(href="/user/packages") Packages
        li
            a(href="/user/profile") My Profile
        li
            a(href="/user/history") History
        li
            a(href="/user/logout") Logout
        
