.navbar
    .logo Travel Journey
    button.toggle-btn &#9776;



.sidebar.deActive
    ul
        li
            a(href="/user/dashboard") Dashboard
        li
            a(href="/user/my-bookings") My Bookings
        li
            a(href="/user/spots") Spots
        li
            a(href="/user/book-flight") Book a Route
        li
            a(href="/user/agency") Agency
        li
            a(href="/user/flight-status") Route Updates
        li
            a(href="/user/manage-preferences") Manage Preferences
        li
            a(href="/user/payment-methods") Payment Methods
        li
            a(href="/user/travel-alerts") Travel Alerts
        li
            a(href="/user/suggestions") Suggestions
        li
            a(href="/user/profile") My Profile
        li
            a(href="/user/history") History
        li
            a(href="/user/logout") Logout
        
